@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: black;
    color: white;
}

.emoji {
    font-size: 6rem;
}

.emojis-list {
    list-style: none;
    padding: 0;
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

.emojis-list li {
    padding: 1rem;
    width: 15%;
    flex-grow: 1;
    border: 1px solid white;
    text-align: center;
}

.emojis-list li > *:not(:first-child) {
    margin-top: .5rem;
    width: 100%;
}